<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

header .wp-block-group{
	background-color: #FFF !important;
}

.wp-site-blocks{
	background-color: #FFF;
}

header.wp-block-template-part{
	display: flex;
    flex-direction: column;
    justify-content: center;
	height: 159px;
    color: rgba(0, 98, 164, 1);
    box-shadow: 0px 4px 6.4px 0px rgba(0, 0, 0, 0.1);
}

.form-info{
	display: flex;
    justify-content: space-between;
}

.form-info input{
	width: 210px;
	height: 38px;
    border: 1px solid gainsboro;
}

.contact-us-form{
	padding: 0 250px 0px 0px;
}

.contact-us-form{
	font-family: lexend;
}

.contact-us-form h2{
    font-weight: 700;
	font-size: 48px;
}

.contact-us-form p{
	color: rgba(120, 120, 120, 1);
}

.contact-us-form textarea{
	width: 100%;
	border: 1px solid gainsboro;
}

span.required{
	color: #F00;
}

.left-section-contact-text{
	background-color: #FFF;
    width: 370px;
	height: 180px
}

.left-section-contact-text h4{
	font-weight: 700;
}

.contact-us-submit{
	background: #F00;
    border: none;
    width: 175px;
    height: 49px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.left-section-contact .elementor-widget-container{
	display: flex;
    align-items: center;
    justify-content: center;
}

#contact-page-element{
	padding: 0;	
}
#contact-page-element .e-con-inner{
	margin: 0;
	padding: 0;
}

#contact-page-element .elementor-element{
	padding: 0
}

.info-section{
	background-color: #FFF;
	padding: 10px;
}

.info-section-item{
	border-bottom: 1px solid rgba(226, 226, 226, 1);
    padding-bottom: 40px;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-section-item:nth-child(3){
	border-bottom: none;
}

.info-section-item div{
	width: 350px;
}
@media screen and (max-width: 360px) {
  	.left-section-contact-text {
    	width: 230px;
    	height: 160px;
  	}
	.left-section-contact .elementor-widget-container{
		height: 330px !important;
	}
	
	.contact-us-form {
    	padding: 0;
	}
	
	.form-info{
		flex-direction: column;
	}
	
	.form-info input{
		width: 100%;
	}
	
	.info-section-item div{
		width: 100%;
	}
	
	.info-section-item{
		flex-direction: column-reverse;
	}
	
	.info-section-item img{
		    margin-bottom: 30px;
	}
	
	#info-section-block{
		padding: 0;
		background: none;
		background-image: none;
	}
	
	#info-section-block .elementor-element, #info-section-block .e-con-inner{
		padding: 0;
	}
	
	#testimonials .elementor-element{
		width: 100%;
	}
	
	footer .wp-block-navigation-item{
		font-size: 12px;
	}
	
	footer .wp-block-navigation{
		display: flex;
    	justify-content: space-around;
		height: 80px;
	}

}

</style>
<!-- end Simple Custom CSS and JS -->
